body {
  margin: 0px;
  padding: 0px;
}
.parent {
  width: 400px;
  height: 400px;
  background-color: gray;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px;
}
.c1 {
  background-color: red;
  font-size: 40px;
  color: aliceblue;
  grid-row-start: 1;
  grid-row-end: 2;
}
.c2 {
  background-color: #00ffbb;
  font-size: 40px;
  color: aliceblue;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.c3 {
  background-color: #00c3ff;
    font-size: 40px;
  color: aliceblue;
grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
.c4 {
  background-color: #c27100;
    font-size: 40px;
  color: aliceblue;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}
