* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Navbar {
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.Main {
    width: 80%;
    margin-left: 150px;
    margin-top: 15px;
    height: 550px;
    padding: 40px px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #655b5b;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}